html {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 90;
    margin: auto;
    padding: auto;
}

*{
    box-sizing: border-box;
}

#demo3 {
    color: greenyellow;
    text-align: start;
}

